form{
    position: absolute;
    margin: 20px;
    height: 1050px;
    width: 300px;
    min-width: 300px; 
    border-width: 15px;
    border-radius: 15px;
    border-color: black;
    background-color: #D9D9D9;
    display: block;
}

.filter-input-section{
    width: 100%;
    height: 70%;    
}

.filter-form-buttons{

    margin-top: 5%;
    margin-left: 50px;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
}

h1{
    text-align: center;
}

h3{
    padding-top: 20px;
    text-align: center;
}

fieldset{
    width: 200px;
    margin: auto;
}

button{
    text-align: center;
    margin: auto;
    display: flex;
    margin-top: 10px;
    padding: 12.5px 32.5px;
    background-color: black;
    color: white;
    border-radius: 15px;
    border-width: 3px;
    border-color: white;
    cursor: pointer;
}

table{
    border-collapse: separate;
    display: inline-table;
    th{
        min-width: 120px;
        height: 25px;
        background-color: #D9D9D9;
        padding: 5px;
        top: 0;
        border-style: solid;
        border-width: 2px;
        border-color: darkgray;
        position: sticky;
        text-align: center;
    }
    
    td {
        min-width: 120px;
        text-align: center;
        height: 25px;
        border-style: solid;
        border-width: 2px;
        border-color: #ddd;
        padding: 5px;
    }

    .filterApplied{
        background-color: #7FBBDD;
    }
}

.form-group{
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formTextInput{
    width: 75px;
    margin-left: 5px;
}

.formGreaterThanInput{
    width: 50px;
}

.formLessThanInput{
    width: 50px;
    margin-right: 15px;
}

.formCheckBox{
    vertical-align: middle;
}

.q-table{
    right: 0px;
    margin-left: 330px;
    margin-top: 20px;
    margin-right: 50px;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 80%;
    height: 880px;
}

.q-table::-webkit-scrollbar-track{
    border: 0.0625em solid #000;
    padding: 0.125em 0;
    background-color: white;
    border-radius: 0.625em;
}

.q-table::-webkit-scrollbar{
    width: 0.625em;
}

.q-table::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 0.375em rgba(0,0,0,.3);
    background-color: #D9D9D9;
    border: 0.0625em solid #000;
    border-radius: 0.625em;
}

.error-alert{
    bottom: 100%;
    margin-left: 100px;
    display: inline-block;
}

.error-alert-score{
    bottom: 100%;
    margin-left: 50px;
    display: inline-block;
}

.error-alert-range{
    bottom: 100%;
    padding-top: 5px;
    display: inline-block;
}

.inputAlert{
    color: red;
}

.table-buttons-prev{
    position: relative;
    display: inline-block;
    margin-left: 20%;
}

.disabled{
    background-color: darkgrey;
    border-color: black;
    cursor: not-allowed;
}

.invalid{
    background-color: #FCE4E4;
    border-color: #D94066;
}

.table-buttons-download{
    position: relative;
    display: inline-block;
}

.table-buttons-next{
    position: relative;
    display: inline-block;
}

.table-num-items{
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width:260px;
    text-align: center;
}

.table-message{
    margin-top: 385px;
    text-align: center;
}

.reset-filter-button{
    margin-top: 15px;
}

.table-info{
    margin-top: 12px;
    margin-left: 350px;
    position: static;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: default;
}
  
.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptextfilters{
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 52%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptextrangefilters{
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    opacity: 0;
    left: 50%;
    margin-left: -110px;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext{
    margin-top: 20px;
    visibility: visible;
    opacity: 0.88;
}

.tooltip:hover .tooltiptextfilters{
    margin-top: 5px;
    visibility: visible;
    opacity: 0.88;
}

.tooltip:hover .tooltiptextrangefilters{
    margin-top: 5px;
    visibility: visible;
    opacity: 0.88;
}