h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 800px;
}

table, th, td{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    border-collapse: collapse;
    padding: 10px;
}

td:first-child{
    text-align: center;
}

td{
    max-width: 500px;
}